html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
   /*termino el reset*/
   .foto img{
    padding: 2px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px blue;
    
   }   
   .formulario{
    margin-top: 40px;
   }

   .figure img{
    padding: 4px ;
    background: #666;
    border-radius: 25px;
    transition-duration: 0.5s;
    box-shadow: #999 5px 5px 10px;
    
   }
   .figure img:hover{
    transform: scale(1.2);
   }