@charset "utf-8";
/* css document */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
 }
 table { border-collapse: collapse; border-spacing: 0; }
 td, th, caption { font-weight: normal; text-align: left; }
 img, fieldset { border: 0; }
 ol { padding-left: 1.4em; list-style: decimal; }
 ul { padding-left: 1.4em; list-style:square; }
 q:before, q:after { content:''; }

/* termina el reset*/

  
nav {
 
  display:flex;
  align-items: center;
  
  padding-top:20px ;
  padding-left: 5%;
  padding-right: 5%;
  font-weight:bold ;
}
h1{
   background: linear-gradient(#22252a,#505762);
   color: #f5793b;
   font-size: 2.5em;
   padding: 10px ;
   border-radius: 10px;
   transition-duration: 0.5ms;
   box-shadow:#393e46 5px 5px 10px;

}
h1:hover{ 
    transform:scale(1.2) ;
}
ul li{
    background-color: #22252a;
    padding: 10px 20px;    
    display: inline-block;
    border-radius: 10px;
    transition-duration: 0.5ms;
}
ul li:hover{
  transform:scale(1.2) ;
}
a{
  color: #f5793b;
  text-decoration: none;
  
}






  




  
  
  
 


