@charset "utf-8";
/* css document */



#cabeceraweb { background-color: #393e46;
}

#navegacionusaurio {
    background-color: white;
}
#barralateral {
    background-color: white;
    float: left;
    height: 700px;
}
#contenidoprincipal {
    background-color: white;
    margin-left : 200px;
    padding-left: 15px;
    padding-top: 15px;

}
#pieprincipal {
    background-color: white;

   
}

li {
    background-color: white;

}
