@charset "utf-8";
/* css document */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
 }
 table { border-collapse: collapse; border-spacing: 0; }
 td, th, caption { font-weight: normal; text-align: left; }
 img, fieldset { border: 0; }
 ol { padding-left: 1.4em; list-style: decimal; }
 ul { padding-left: 1.4em; list-style:square; }
 q:before, q:after { content:''; }

/* termina el reset*/

/*
h1,h2,h3,h4,h5,h6{
    font-family: 'Ephesis', cursive;
}

a,p,strong,b{
    font-family: 'Marhey', sans-serif;
}
header{
    
    background:red ;
}
h1{
    background: rebeccapurple;
    color: white;
    font-size: 4em;
}
h2{
    color: brown;
    font-size: 4em;
}


.uno{
    
}
#par1{
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 30px;
    word-spacing: 10px;
    text-shadow: 5px 5px 5px red;
    font-size: 30px; 
    
}
#par2{
    font-family:'Roboto', sans-serif;
    width:200px ;
    height: 200px;
    background-image: url(img/100.jpg);
    padding: 20px;
    border: 10px  rgb(250, 60, 2);
    border-style:solid;
    box-shadow: 5px 5px 5px red;
    border-radius: 20px;
    margin: 100px;

  
    

}
a{
    font-size: 2em;
    text-decoration: none;
    color: blue;
    transition: 0.5ms;

}
a:hover{
    color: rgb(70, 120, 5);
    font-size: 36px;
    
}
button {
    padding-left:20px ;
    padding-right: 20px;
     
}
button .fa-solid {
    
}
img .retrete{
    display:none;
    max-width: 300px;
}

.h2{

}
*/

.imafont{
    background-image: url("https://placehold.co/2000");
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}