@charset "utf-8";
/* css document */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
 }
 table { border-collapse: collapse; border-spacing: 0; }
 td, th, caption { font-weight: normal; text-align: left; }
 img, fieldset { border: 0; }
 ol { padding-left: 1.4em; list-style: decimal; }
 ul { padding-left: 1.4em; list-style:square; }
 q:before, q:after { content:''; }

/* termina el reset*/


h1,h2,h3,h4,h5,h6{
    font-family: 'Ephesis', cursive;
}

a,p,strong,b{
    font-family: 'Marhey', sans-serif;
}
header{
    
    background:red ;
}
h1{
    background: rebeccapurple;
    color: white;
    font-size: 4em;
}
h2{
    color: brown;
    font-size: 4em;
}


.uno{
    
}
#par1{
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 30px;
    word-spacing: 10px;
    text-shadow: 5px 5px 5px red;
    font-size: 30px; 
    
}
#par2{
    font-family:'Roboto', sans-serif;
    font-weight: 900;
}
a{
    font-size: 2em;
    text-decoration: none;
    color: blue;
    transition: 0.5ms;

}
a:hover{
    color: rgb(70, 120, 5);
    font-size: 36px;
    
}